* {
    box-sizing: border-box;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

select {
    padding: 12px;
    width: 100%;
    border: 1px solid #aaaaaa;
}
/* Mark input boxes that gets an error on validation: */

input.invalid {
    border-color: red;
}
/* Hide all steps by default: */

.tab {
    display: none;
}

button {
    background-color: #1CC3B2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}
/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}
/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #1CC3B2;
}

.img-lines {
    transition: transform 2s;
    width: 25%;
    height: 350px;
    -moz-background-size: 100% 100%;
    /*Firefox 3.6*/
    -o-background-size: 100% 100%;
    /*opera*/
    -webkit-background-size: 100% 100%;
    /*Safari*/
    background-size: 100% 100%;
    /*estandar css3*/
    -moz-border-image: url('img/fondo.jpg') 0;
    /*Firefox 3.5*/
}

.bg-img-1 {
    background-image: url('https://cf.bstatic.com/images/hotel/max500/148/148427924.jpg');
}

.bg-img-2 {
    background-image: url('https://www.demediterraning.com/V05/img/dem/Alojamientos/72339/72339_64625023.jpg');
}

.bg-img-3 {
    background-image: url('https://y.cdrst.com/foto/hotel-sf/16f9/granderesp/aparthotel-la-piramide-servicios-8f4c5a4.jpg');
}

.bg-img-4 {
    background-image: url('https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/94/05/94051_v11.jpeg');
}

.img-lines:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bg-img-1:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cf.bstatic.com/images/hotel/max500/148/148427924.jpg');
}

.bg-img-2:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.demediterraning.com/V05/img/dem/Alojamientos/72339/72339_64625023.jpg');
}

.bg-img-3:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://y.cdrst.com/foto/hotel-sf/16f9/granderesp/aparthotel-la-piramide-servicios-8f4c5a4.jpg');
}

.bg-img-4:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/94/05/94051_v11.jpeg');
}

/* ==== ABOUT SECTION ====*/

.img-about {
    transition: transform 2s;
}

.img-about:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

/* ==== COLORS AND BACKGROUNDS ====*/

.bg-gray-0 {
    background-color: #222222;
}

.bg-light-blue {
    background-color: #1CC3B2;
    height: 70px;
}

.bg-light-only-blue {
    background-color: #1CC3B2;
}

.color-light-only-blue {
    color: #1CC3B2;
}

.bg-secondary-light {
    background-color: #E4E2E2;
}

.bg-contact {
    background-color: #F5F5F5;
}

.bg-footer {
    background-color: #111111;
}

.text-light-brown {
    color: #A0A0A0;
}

.text-gray-words {
    color: #8A8A83;
}

.text-perla {
    color: #CFCFCF;
}