* {
    margin: 0px;
}


/* ==== TOPBAR ICONS ====*/

#home i {
    font-size: 15px;
    color: white;
}


/* ==== STYLES FOR TEXTS ====*/

.text-title {
    color: black;
    font-size: 30px;
}

.text-description {
    color: #4C4C4C;
    font-size: 15px;
}


/* ==== COLORS AND BACKGROUNDS ====*/

.bg-gray-0 {
    background-color: #222222;
}

.bg-light-blue {
    background-color: #1CC3B2;
    height: 70px;
}

.bg-light-only-blue {
    background-color: #1CC3B2;
}

.color-light-only-blue {
    color: #1CC3B2;
}

.bg-secondary-light {
    background-color: #E4E2E2;
}

.bg-contact {
    background-color: #F5F5F5;
}

.bg-footer {
    background-color: #111111;
}

.text-light-brown {
    color: #A0A0A0;
}

.text-gray-words {
    color: #8A8A83;
}

.text-perla {
    color: #CFCFCF;
}


/* ==== CAROUSEL ====*/

.carousel-principal {
    width: 100%;
    height: 550px;
}

.container-booking {
    background-color: white;
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    margin: auto;
}

label {
    font: condensed 120% sans-serif;
    color: black;
}


/* ==== ABOUT SECTION ====*/

.img-about {
    transition: transform 2s;
}

.img-about:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}


/* ==== FOOTER IMAGES SECTION - INDEX ====*/

.img-lines {
    transition: transform 2s;
    width: 25%;
    height: 350px;
    -moz-background-size: 100% 100%;
    /*Firefox 3.6*/
    -o-background-size: 100% 100%;
    /*opera*/
    -webkit-background-size: 100% 100%;
    /*Safari*/
    background-size: 100% 100%;
    /*estandar css3*/
    -moz-border-image: url('img/fondo.jpg') 0;
    /*Firefox 3.5*/
}

.bg-img-1 {
    background-image: url('https://cf.bstatic.com/images/hotel/max500/148/148427924.jpg');
}

.bg-img-2 {
    background-image: url('https://www.demediterraning.com/V05/img/dem/Alojamientos/72339/72339_64625023.jpg');
}

.bg-img-3 {
    background-image: url('https://y.cdrst.com/foto/hotel-sf/16f9/granderesp/aparthotel-la-piramide-servicios-8f4c5a4.jpg');
}

.bg-img-4 {
    background-image: url('https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/94/05/94051_v11.jpeg');
}

.img-lines:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bg-img-1:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cf.bstatic.com/images/hotel/max500/148/148427924.jpg');
}

.bg-img-2:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.demediterraning.com/V05/img/dem/Alojamientos/72339/72339_64625023.jpg');
}

.bg-img-3:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://y.cdrst.com/foto/hotel-sf/16f9/granderesp/aparthotel-la-piramide-servicios-8f4c5a4.jpg');
}

.bg-img-4:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/94/05/94051_v11.jpeg');
}

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800,900&display=swap');
.carousel-nav-icon {
    height: 48px;
    width: 48px;
}

.carousel-item .col,
.carousel-item .col-sm,
.carousel-item .col-md {
    margin: 8px;
    height: 500px;
    background-size: cover;
    background-position: center center;
}


/* ==== EVENT SECTION ==== */

.card {
    transition: bottom 1s;
    bottom: 0px;
}

.card:hover {
    bottom: 50px;
}


/* ========== BOTÓN GO UP ========== */

#button {
    display: inline-block;
    background-color: #48C3B2;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 20px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.enlaceHome{
    text-decoration: none;
    
}

/* Formulario Cliente */

